@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: outline-box;
}

:root {
  --PrimaryBG: #2563eb;
  --SecundaryBG: #073486c6;
  --TerciaryBG: #D3E6FE;
  --FourthBG: #0447d8;
  --Enlaces: #c8ff00;
  --TextoClaro: #fae8ff;
  --Blanco: #fefefe;
  --Button: #1e293b;
  --TextOscuro: #3e434a;
}

html,
body {
  height: 100vh;
  width: 100%;
  font-size: 1vh;
  font-family: "Roboto Slab", serif;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* p {
  font-size: 3rem;
  font-weight: 500;
}

h1 {
  font-size: 10rem;
  font-weight: 900;
}

h2 {
  font-size: 5rem;
  font-weight: 800;
}

h3 {
  font-size: 3.5rem;
}

.ir-arriba {
  position: fixed;
  top: 90%;
  right: 1rem;
  background-color: red;
}
.ir-arriba img {
  width: 5rem;
  height: 5rem;
  filter: grayscale(0) invert(1);
}

.header {
  height: 15rem;
  width: 100%;
  background-color: var(--PrimaryBG);
  color: var(--TextoClaro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header h2 {
  padding-left: 2rem;
  width: 50%;
  height: 100%;
}
.header h2 img {
  width: auto;
  height: 100%;
}
.header .btn-menu {
  height: 50%;
  position: absolute;
  right: 1rem;
}
.header .btn-menu svg {
  fill: var(--Blanco);
  height: 100%;
  width: fit-content;
}

.oculto {
  display: none;
}

.menu_principal {
  width: 18rem;
  background-color: var(--PrimaryBG);
  position: absolute;
  list-style: none;
  flex-direction: column;
  top: 15rem;
  right: 0rem;
  padding: 1rem;
  font-size: 2.5rem;
  gap: 2vw;
  z-index: 200;
}
.menu_principal a {
  color: var(--TextoClaro);
  text-decoration: none;
}
.menu_principal a:hover {
  color: var(--Enlaces);
  transition: all 0.3s ease-in-out;
}

.seccionAcerca {
  width: 100%;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.seccionAcerca_contenido {
  background-color: var(--SecundaryBG);
}
.seccionAcerca .image {
  padding-top: 5rem;
  width: fit-content;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}
.seccionAcerca .image .mifoto {
  height: 100%;
  width: auto;
}
.seccionAcerca .image .descargarcv {
  background-color: var(--Button);
  color: var(--Enlaces);
  border: none;
  padding: 2rem;
  border-radius: 15px;
  outline: 1px solid var(--Enlaces);
  font-weight: 700;
  position: absolute;
  bottom: 1rem;
}
.seccionAcerca .image .descargarcv a {
  color: var(--Enlaces);
  text-decoration: none;
  font-size: 3rem;
}
.seccionAcerca .image .descargarcv:hover, .seccionAcerca .image .descargarcv:hover a {
  background-color: var(--Enlaces);
  color: var(--Button);
}
.seccionAcerca .texto {
  padding: 5rem;
  display: grid;
  text-align: center;
  color: var(--Blanco);
}
.seccionAcerca .texto h1,
.seccionAcerca .texto h2 {
  text-align: center;
}
.seccionAcerca .texto .modalProfesor {
  height: 100vh;
  width: 100%;
  background-color: var(--SecundaryBG);
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;
  font-size: 3rem;
  display: none;
  z-index: 900;
  color: var(--TextOscuro);
}
.seccionAcerca .texto .modalProfesor ul {
  position: relative;
  width: 80%;
  height: fit-content;
  text-align: justify;
  background-color: var(--Blanco);
  padding: 1vw 6vh;
}
.seccionAcerca .texto .modalProfesor ul li {
  padding: 1vh 0;
}
.seccionAcerca .texto .modalProfesor .btn-closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  border: double 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Blanco);
  color: var(--texto);
}
.seccionAcerca .texto .ensenar {
  text-decoration: underline;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--Enlaces);
  cursor: pointer;
  position: relative;
}
.seccionProyectos {
  height: 100vh;
  background-color: var(--TerciaryBG);
  padding: 0 10px;
}
.seccionProyectos h2 {
  text-align: center;
  height: 10%;
  color: var(--PrimaryBG);
}
.seccionProyectos .cardContainer {
  display: flex;
  align-items: center;
  height: 90%;
  width: 100%;
  overflow: scroll;
}
.seccionProyectos .card {
  margin: 0 10px;
  flex: 1 0 90%;
  height: 60rem;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 3px var(--Button);
}
.seccionProyectos .cardInfo {
  height: 0px;
  width: 100%;
  background-color: var(--SecundaryBG);
  opacity: 0;
  position: absolute;
  top: 0;
}
.seccionProyectos .cardTitle {
  text-align: center;
  height: 30%;
  width: 100%;
  color: var(--TextoClaro);
  font-size: 3rem;
  padding: 0 1vh;
}
.seccionProyectos .cardText {
  color: var(--TextoClaro);
  height: 55%;
  padding: 0 1vh;
  font-size: 2.5rem;
  display: grid;
  text-align: justify;
  padding: 0 2rem;
}
.seccionProyectos .btn-visitar {
  cursor: pointer;
  width: fit-content;
  height: 15%;
  font-size: 3rem;
  font-weight: 700;
  margin: auto;
}
.seccionProyectos .btn-visitar a {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--Enlaces);
  background-color: var(--Button);
  height: 80%;
  border-radius: 2rem;
  padding: 0 1rem;
}
.seccionProyectos .btn-visitar a:hover {
  background-color: var(--Enlaces);
  color: var(--Button);
}
.seccionProyectos .cardBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.seccionProyectos .card:hover .cardInfo {
  transition: all 1s ease-in-out;
  height: 100%;
  opacity: 1;
}
.seccionHabilidades {
  background-color: var(--PrimaryBG);
  height: 100vh;
}
.seccionHabilidades .tecnicas,
.seccionHabilidades .blandas {
  height: 50%;
  padding: 2rem 0.5rem;
}
.seccionHabilidades .tecnicas-title,
.seccionHabilidades .blandas-title {
  font-size: 3rem;
  background-color: var(--Button);
  color: var(--Enlaces);
  width: fit-content;
  border-radius: 2rem;
  display: grid;
  outline: solid 1px;
  margin: auto;
  padding: 2rem;
}
.seccionHabilidades .tecnical-icons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  color: var(--Enlaces);
  row-gap: 3rem;
  padding-top: 4rem;
}
.seccionHabilidades .blandas-text {
  text-align: center;
  display: grid;
  place-items: center;
  row-gap: 1rem;
  color: var(--TextoClaro);
  padding-top: 4rem;
}
.seccionHabilidades .tecnical-icons img {
  width: 7.5rem;
  height: auto;
  animation: rotar 2s infinite ease-in-out;
}
@keyframes rotar {
  from {
    transform: rotate3d(0, 1, 0, 1deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
.seccionContacto {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.seccionContacto h2 {
  color: var(--PrimaryBG);
}
.seccionContacto__Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.seccionContacto__Cards .cardLocation img,
.seccionContacto__Cards .cardEmail img,
.seccionContacto__Cards .cardPhone img {
  height: 10rem;
  width: 10rem;
  filter: grayscale(100%) invert(100%);
}
.seccionContacto__Cards .cardLocation img {
  height: 15rem;
  width: 15rem;
}
.seccionContacto__Cards .cardSocial img {
  height: 7rem;
  width: 7rem;
}
.seccionContacto__Cards .cardContacto {
  padding: 2.5rem 0;
  border-radius: 1.5rem;
  width: 80%;
  height: 20rem;
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--FourthBG);
  color: var(--TextoClaro);
  font-weight: bolder;
  font-size: 3.5rem;
  box-shadow: 0px 0px 5px 3px var(--Button);
}
.seccionContacto__Cards .cardContacto a {
  color: var(--Enlaces);
  text-decoration: none;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.seccionContacto__Cards .cardContacto a:hover {
  color: var(--TextoClaro);
}
.seccionContacto__Form {
  background-color: var(--PrimaryBG);
  outline: solid 1px black;
  border-radius: 15px;
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  padding: 5rem 0;
  color: var(--TextoClaro);
}
.seccionContacto__Form .form__control {
  display: flex;
  flex-direction: column;
}
.seccionContacto__Form .form__control input,
.seccionContacto__Form .form__control textarea {
  width: 50rem;
  height: 5rem;
  border: none;
  outline: 1px solid;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  padding-left: 1rem;
  font-family: "Roboto Slab", serif;
}
.seccionContacto__Form .form__control input:focus,
.seccionContacto__Form .form__control textarea:focus {
  padding-left: 1rem;
}
.seccionContacto__Form .form__control textarea {
  height: 15rem;
}
.seccionContacto__Form .form__control textarea:focus {
  padding-left: 1rem;
}
.seccionContacto__Form input[type=submit] {
  background-color: var(--Button);
  color: var(--Enlaces);
  height: 7rem;
  width: 50%;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "Roboto Slab", serif;
  border: none;
  outline: 1x solid var(--Enlaces);
  font-size: 3rem;
  font-weight: 600;
}
.seccionContacto__Form input[type=submit]:hover {
  background-color: var(--Enlaces);
  color: var(--Button);
  outline: 1x solid var(--Button);
}

.footer {
  font-size: 3rem;
  width: 100%;
  background-color: var(--PrimaryBG);
  color: var(--TextoClaro);
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .seccionProyectos .card {
    flex: 1 0 50%;
  }
  .seccionProyectos .cardTitle {
    font-size: 4.5rem;
  }
  .seccionProyectos .cardText {
    font-size: 3.5rem;
  }
  .seccionHabilidades .tecnicas-title,
  .seccionHabilidades .blandas-title {
    font-size: 3.5rem;
  }
  .seccionHabilidades .tecnical-icons {
    grid-template-columns: repeat(5, 1fr);
  }
  .seccionHabilidades .tecnical-icons img {
    width: 10.5rem;
  }
  .seccionHabilidades .blandas-text p {
    font-size: 3.5rem;
  }
  .seccionContacto {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .seccionContacto__Cards {
    gap: 5%;
  }
  .seccionContacto__Cards .cardContacto {
    width: 40%;
    height: 30rem;
  }
  .seccionContacto__Form {
    grid-template-areas: "nombre email" "asunto asunto" "boton boton";
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem;
    gap: 2rem;
  }
  .seccionContacto__Form .form_name {
    grid-area: nombre;
  }
  .seccionContacto__Form .form_name input {
    width: 100%;
  }
  .seccionContacto__Form .reply_to {
    grid-area: email;
  }
  .seccionContacto__Form .reply_to input {
    width: 100%;
  }
  .seccionContacto__Form .message {
    grid-area: asunto;
    width: 100%;
  }
  .seccionContacto__Form .message textarea {
    width: 100%;
  }
  .seccionContacto__Form #button {
    grid-area: boton;
  }
}
@media (min-width: 1024px) {
  .header {
    position: static;
  }
  .btn-menu {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .menu_principal {
    font-size: 4.5rem;
    position: static;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    width: 95%;
    gap: 1.5rem;
    flex-direction: row;
  }
  .menu_principal li a {
    width: 100%;
    border: solid 1px;
    padding: 0.5rem;
  }
  .seccionProyectos .card {
    flex: 1 0 90%;
    height: 90%;
  }
  .seccionContacto__Cards {
    gap: 1%;
    width: 100%;
  }
  .seccionContacto__Cards .cardContacto {
    width: 22%;
    height: 30rem;
  }
  .seccionContacto__Form .form_name {
    grid-area: nombre;
  }
  .seccionContacto__Form .form_name input {
    width: 100%;
  }
  .seccionContacto__Form .form_name input::placeholder {
    font-size: 3rem;
  }
  .seccionContacto__Form .reply_to {
    grid-area: email;
  }
  .seccionContacto__Form .reply_to input {
    width: 100%;
  }
  .seccionContacto__Form .reply_to input::placeholder {
    font-size: 3rem;
  }
  .seccionContacto__Form .message {
    grid-area: asunto;
    width: 100%;
  }
  .seccionContacto__Form .message textarea {
    width: 100%;
  }
  .seccionContacto__Form .message textarea::placeholder {
    font-size: 3rem;
  }
  .seccionContacto__Form #button {
    grid-area: boton;
    width: 30rem;
  }
}

/*# sourceMappingURL=style.css.map */
