@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: outline-box;
}

:root {
    --PrimaryBG: #2563eb;
    --SecundaryBG: #073486c6;
    --TerciaryBG: #D3E6FE;
    --Enlaces: #c8ff00;
    --TextoClaro: #fae8ff;
    --Blanco: #fefefe;
    --Button: #1e293b;
    --TextOscuro: #3e434a;
    // --bg-100:#1e293b;
    // --bg-200:#334155;
    // --bg-300:#475569;  

}




html,
body {
    height: 100vh;
    width: 100%;
    font-size: 1vh;
    font-family: 'Roboto Slab', serif;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
*p {
    font-size: 3rem;
    font-weight: 500;
}

h1 {
    font-size: 10rem;
    font-weight: 900;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
}

h3 {
    font-size: 3.5rem;
}

.header {
    height: 10%;
    width: 100%;
    background-color: var(--PrimaryBG);
    color: var(--TextoClaro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h2 {
        padding-left: 2rem;
        width: 50%;
    }

    .btn-menu {
        height: 50%;
        position: absolute;
        right: 1rem;

        svg {
            fill: var(--Blanco);
            height: 100%;
        }
    }
}

.menu_principal {
    width: 18rem;
    background-color: var(--PrimaryBG);
    position: absolute;
    list-style: none;
    display: none;
    flex-direction: column;
    top: 8rem;
    right: 0rem;
    padding: 1rem;
    font-size: 2.5rem;
    gap: 2vw;
    z-index: 200;

    a {
        color: var(--TextoClaro);
        text-decoration: none;
    }

    a:hover {
        color: var(--Enlaces);
        font-weight: 700;
        letter-spacing: 0.5px;
        transition: all 0.3s ease-in-out;
    }
}

.seccion {
    &Acerca {
        width: 100%;
        background-image: url(./img/background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &_contenido {
            background-color: var(--SecundaryBG);
        }

        .image {
            padding-top: 5rem;
            width: fit-content;
            height: 50rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: auto;

            .mifoto {
                height: 100%;
                width: auto;
            }

            .descargarcv {
                background-color: var(--Button);
                color: var(--Enlaces);
                border: none;
                padding: 2rem;
                border-radius: 2rem;
                font-weight: 700;
                position: absolute;
                bottom: 0;

                & a {
                    color: var(--Enlaces);
                    text-decoration: none;
                    font-size: 2rem;
                }

                &:hover,
                &:hover a {
                    background-color: var(--Enlaces);
                    color: var(--Button);
                }
            }
        }

        .texto {

            padding: 5rem;
            display: grid;
            text-align: center;
            color: var(--Blanco);

            h1,
            h2 {
                text-align: center;
            }

            .modalProfesor {
                height: 100vh;
                width: 100%;
                background-color: var(--SecundaryBG);
                position: fixed;
                top: 0;
                left: 0;
                place-items: center;
                font-size: 3rem;
                display: none;
                z-index: 900;
                color: var(--TextOscuro);

                ul {
                    position: relative;
                    width: 80%;
                    height: fit-content;
                    text-align: justify;
                    background-color: var(--Blanco);
                    padding: 1vw 6vh;

                    & li {
                        padding: 1vh 0;
                    }
                }

                .btn-closeModal {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    cursor: pointer;
                    border-radius: 50%;
                    border: double 0.5rem;
                    height: 3.5rem;
                    width: 3.5rem;
                    font-size: 1vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--Blanco);
                    color: var(--texto);
                }
            }

            .ensenar {
                text-decoration: underline;
                font-weight: 700;
                font-size: 3.5rem;
                color: var(--Enlaces);
                cursor: pointer;
                position: relative;
            }
        }
    }

    &Proyectos {
        height: 100vh;
        width: 100%;
        background-color: var(--TerciaryBG);
        &::-webkit-scrollbar {
            height: 10px;
          }
       
          &::-webkit-scrollbar-track {
            background: var(--PrimaryBG);
          }
          
          &::-webkit-scrollbar-thumb {
            background:var(--Enlaces);
            border-radius: 10px;            
          }
    
        h2 {
            text-align: center;
            height: 10%;
            border: solid 1px;
        }
       
        .cardContainer {
            display: flex;
            align-items: center;
            gap: 5rem;
            height: 90%;
            width:100%;
            overflow: scroll;
               
        }
        
        
        .card {
            // flex:1 0 200px;
            min-width: 200px;
            height: 60rem;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 5px 3px var(--Button);
        
           
        }

        .card:hover{
            transition: all 1s ease-in-out;
            min-width: 300px;
            // margin-left: -300px;
         
            left:calc(50% - 150px)
           
        }

        .cardInfo {
            height: 0px;
            width: 100%;
            background-color: var(--SecundaryBG);
            opacity: 0;
            position: absolute;
            top: 0;
        }

        .cardTitle {
            text-align: center;
            height: 30%;
            width: 100%;
            color: var(--TextoClaro);
            font-size: 3rem;
            padding: 0 1vh;
        }

        .cardText {
            color: var(--TextoClaro);
            height: 55%;
            padding: 0 1vh;
            font-size: 2.5rem;
            display: grid;
            text-align: justify;
            padding: 0 2rem;
        }

        .btn-visitar {
            cursor: pointer;
            width: fit-content;
            height: 15%;
            font-size: 3rem;
            font-weight: 700;
            margin: auto;

            a {
                display: grid;
                place-items: center;
                text-decoration: none;
                color: var(--Enlaces);
                background-color: var(--Button);
                height: 80%;
                border-radius: 2rem;
                padding: 0 1rem;

                &:hover {
                    background-color: var(--Enlaces);
                    color: var(--Button);
                }
            }

        }

        .cardBackground {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
        }

        .card:hover .cardInfo {
            transition: all 1s ease-in-out;
            height: 100%;
            opacity: 1;
        }
    }

    &Habilidades {
        background-color: var(--PrimaryBG);
        height: 100vh;

        .tecnicas,
        .blandas {
            height: 50%;
            padding: 2rem 0.5rem;
        }

        .tecnicas-title,
        .blandas-title {
            font-size: 3rem;
            background-color: var(--Button);
            color: var(--Enlaces);
            width: fit-content;
            border-radius: 2rem;
            display: grid;
            outline: solid 1px;
            margin: auto;
            padding: 2rem;
        }

        .tecnical-icons {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            color: var(--Enlaces);
            row-gap: 3rem;
            padding-top: 4rem;
        }

        .blandas-text {
            text-align: center;
            display: grid;
            place-items: center;
            row-gap: 1rem;
            ;
            color: var(--TextoClaro);
            padding-top: 4rem;
        }

        .tecnical-icons img {
            width: 7.5rem;
            height: auto;
            animation: rotar 2s infinite ease-in-out;
        }

        @keyframes rotar {
            10% {
                transform: rotate3d(0, 1, 0, 36deg);
            }

            20% {
                transform: rotate3d(0, 1, 0, 72deg);
            }

            30% {
                transform: rotate3d(0, 1, 0, 108deg);
            }

            40% {
                transform: rotate3d(0, 1, 0, 144deg);
            }

            50% {
                transform: rotate3d(0, 1, 0, 180deg);
            }

            60% {
                transform: rotate3d(0, 1, 0, 216deg);
            }

            70% {
                transform: rotate3d(0, 1, 0, 252deg);
            }

            80% {
                transform: rotate3d(0, 1, 0, 288deg);
            }

            90% {
                transform: rotate3d(0, 1, 0, 324deg);
            }

            100% {
                transform: rotate3d(0, 1, 0, 360deg);
            }
        }
    }

    &Contacto {
        height:100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__Cards {
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(4, 1fr);
            gap: 10%;  
            outline: solid 1px;
                    img {
                    height: 10rem;
                    width: 10rem;
        }
        }

        &__Form {
            outline: solid 1px black;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__title {
                font-size: 3rem;
            }
        }
    }
}

.footer {
    // height: 10vh;
    font-size: 3rem;
    width: 100%;
    background-color: var(--PrimaryBG);
    color: var(--TextoClaro);
    display: flex;
    justify-content: center;
}